@import '../../utils/mixin.scss';
@import '../../utils/fonts.scss';

@include fonts;

.NFT__wrapper {
    font-family: 'Poppins';

    .content__container {
        .header {
            position: relative;

            .img_container {
                margin-top: -3px;

                img {
                    width: 100%;
                }
            }

            h1 {
                @include H_1;
            }

            .NFT_posicion {
                position: absolute;
                top: 38px;
                left: 53px;
            }
        }

        .NFT {
            margin: 70px 60px 50px;

            .NFT__content {
                width: 1253px;
                @include textSize_18;
                margin-bottom: 60px;
            }

            .NFT__container {
                display: flex;
                flex-wrap: wrap;
                column-gap: 65px;
                row-gap: 50px;
                margin-bottom: 90px;
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:1500px) {
    .NFT__wrapper {
        .content__container {
            .header {
                .img_container {
                    height: 190px;
                    img {
                        width: auto;
                        height: 100%;
                        margin-left: -130px;
                    }
                }

                .NFT_posicion {
                    top: 18px;
                    left: 15px;
                }
            }

            .NFT {
                margin: 25px 20px 20px;

                .NFT__content {
                    width: 100%;
                    @include textSize_18;
                    margin-bottom: 24px;
                }

                .NFT__container {
                    column-gap: 14px;
                    row-gap: 35px;
                    margin-bottom: 50px;
                }
            }
        }

    }
}
@media only screen and (min-width:360px) and (max-width:767px) {
    .NFT__wrapper {
        .content__container {
            .header {
                .img_container {
                    height: 128px;
                    img {
                        width: 250%;
                        height: 100%;
                        margin-left: -350px;
                    }
                }

                .NFT_posicion {
                    top: 20px;
                    left: 18px;
                }
            }

            .NFT {
                margin: 20px 20px 0px;

                .NFT__content {
                    width: 100%;
                    @include textSize_18;
                    margin-bottom: 14px;
                }

                .NFT__container {
                    column-gap: 22px;
                    row-gap: 16px;
                    margin-bottom: 40px;
                }
            }
        }

    }
}