@mixin socialsHover($heartBackgroundColor,$heartTextColor) {
    
    .heart {
        font-size: 20px;
        background-color: $heartBackgroundColor;
        color: $heartTextColor;
        
        &:hover {
            background-color: #4137D0;
            color: #fff;
        }
    }
    
    .facebook {
        &:hover {
            background-color: #3B5998;
            color: white;
        }
    }

    .tiktok {
        &:hover {
            background-color: black;
            color: white;
        }
    }

    .instagram {
        &:hover {
            background-color: #C44993;
            color: white;
        }
    }

    .youtube {
        &:hover {
            background-color: red;
        }
    }
}

@mixin icon {
    display: flex;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    color: #FFFFFF;
    font-size: 20px;

    &:hover {
        cursor: pointer;
    }
  }